body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header {
    position: relative;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-image img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin: 0 auto;
    max-width: 800px;
    text-align: justify;
}

.inspiration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.inspiration .text {
    flex: 1;
    margin-right: 20px;
}

.inspiration .image {
    flex: 1;
}

.inspiration .image img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

.designs {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.design-image {
    flex: 1;
    margin: 0 10px;
}

.design-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.design-text {
    flex: 2;
    margin: 0 10px;
    text-align: justify;
}

.mission {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.mission-image {
    flex: 1.5;
    margin-right: 20px;
}

.mission-image img {
    max-width: 80%; /* Changed from 100% to 80% */
    height: auto;
    border-radius: 10px;
}

.mission-text {
    flex: 2;
}

.join-us-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.join-us-image img {
    max-width: 15%; /* Changed from 20% to 15% */
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
